@import url('cabinet-grotesk.css');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=EB+Garamond:wght@500&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
    font-family: Cabinet Grotesk-Regular;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Cabinet Grotesk-Medium;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Cabinet Grotesk-SemiBold;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Cabinet Grotesk-Bold;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 600;
}

@mixin lhCrop($line-height) {
    &::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
  }

html {
    scroll-behavior: smooth;
}
:root {
    background: var(--darkgrey);
    --typography-base: 16px;
    --spacing: 10px;
    --border-radius: 10px;

    --orange: #FF3D00;
    --white: #FFFFFF;
    --darkgrey: #0B0B0B;
    --grey:#222222;
    --charcoal:#181818;
    --light: #0300A9;
    --darkblue: #1400FF;
    --green: #00AA30;
    --darkgreen:#04783B;
    --purple: #6200ff;
    --darkred: #4100aa;


    --inset--top:    -0.2em;
	--inset--bottom: -0.23em;
	--inset--left:   -0.07em;
	--inset--right:  -0.06em;
}

nav { 
    font-family: bitter;
    display: flex;
    justify-content: space-around;
    font-size: var(--typography-base);
    padding: var(--spacing);
    background-color: var(--darkgrey);
    border: var(--white);
    border-style: solid;
    border-radius: var(--border-radius) ;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: calc(1* var(--spacing));
}

a { 
    color: #FFFFFF;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.card-chapter { 
    display: block;
    background-color: var(--darkblue);
    border-radius:  var(--border-radius) ;
    padding-right:  calc(3* var(--spacing));
    padding-left:  calc(3* var(--spacing));
    padding-top: var(--spacing);
    padding-bottom: calc(3*var(--spacing));
    margin: calc(1* var(--spacing))
}

.writer { 
    font-family: CabinetGrotesk-Medium;
    font-size: calc(1.3 * var(--typography-base));
    color: var(--white);
    text-align: left;
    margin-bottom: calc(2* var(--spacing));
    margin-top: calc(2* var(--spacing));
}
.card-chapter-2{ 
    display: block;
    background-color: var(--green);
    border-radius:  var(--border-radius) ;
    padding-right:  calc(3* var(--spacing));
    padding-left:  calc(3* var(--spacing));
    padding-top: var(--spacing);
    padding-bottom: calc(3*var(--spacing));
    margin: calc(1* var(--spacing))
}

.card-chapter-3 { 
    display: block;
    background-color: var(--purple);
    border-radius:  var(--border-radius) ;
    padding-right:  calc(3* var(--spacing));
    padding-left:  calc(3* var(--spacing));
    padding-top: var(--spacing);
    padding-bottom: calc(3*var(--spacing));
    margin: calc(1* var(--spacing))
}

h1{ 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(4.2 * var(--typography-base));
    color: var(--white);
}

.subtitle { 
    font-family: CabinetGrotesk-Medium;
    font-size: calc(1.5 * var(--typography-base));
    color: var(--white);
    text-align: left;
}

.white-line{
    border: 1px solid;
    color: var(--white);
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.card { 
    display: block;
    background-color: var(--grey);
    border-radius:  var(--border-radius) ;
    padding-right:  calc(3* var(--spacing));
    padding-left:  calc(3* var(--spacing));
    padding-top: var(--spacing);
    padding-bottom: calc(3*var(--spacing));
    margin: calc(1* var(--spacing))
}

h2 { 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(1.5 * var(--typography-base));
    color: var(--white);
    line-height: 1.2;
    margin-top: calc(2* var(--spacing));
    border-left: 2px solid var(--white); 
    padding-left: 10px;
}

.body-text { 
    font-family: bitter;
    font-size: var(--typography-base);
    color: var(--white);
    line-height: 1.5;
    margin-top: 2rem;
    letter-spacing: .5px;
}
blockquote { 
    font-family: Cardo;
    font-size: calc(1.5* var(--typography-base));
    color: var(--white);
    margin-top: calc(2* var(--spacing));
    line-height: 1.3;
    background-color: var(--charcoal);
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid var(--white); 
    padding: calc(1.5* var(--spacing));
}

.author { 
    display: block;
    padding: calc(1 * var(--spacing));
    margin-top: calc(2 * var(--spacing));
}

strong { 
    font-weight: bold;
}

.underline { 
    text-decoration: underline;
}

.section-heading { 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(1.2 * var(--typography-base));
    color: var(--white);
    line-height: 1.2;
    margin-top: calc(4* var(--spacing));
}

.author-heading { 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(1.2 * var(--typography-base));
    color: var(--white);
    line-height: 1.2;
    margin-top: calc(2* var(--spacing));
}

.writer-text { 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(.9 * var(--typography-base));
    color: var(--white);
    line-height: 1.2;
    margin-top: calc(2* var(--spacing));
}

.special { 
    font-family: Cardo;
    font-size: calc(2.2* var(--typography-base));
    background-color: var(--grey);
    color: var(--white);
    padding:calc(2* var(--spacing));
    margin: var(--spacing);
    text-align: center;
    background-color: var(--grey);
    border-radius:  var(--border-radius) ;
}




/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */
/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */
/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */
/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */
/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */
/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */
/* THIS IS FOR TABLET SCREEN (BEST TABLET IS AN IPAD) */


@media only screen and (min-width: 650px) {
    nav{ 
        width: 50% ;
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(3* var(--spacing));
    }
    h2 { 
        font-family: CabinetGrotesk-Bold;
        font-size: calc(1.5 * var(--typography-base));
        color: var(--white);
        line-height: 1.2;
        margin-top: calc(2* var(--spacing));
        border-left: 2px solid var(--white); 
        padding-left: 10px;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1px;
    }

    .grid-container-left-page-blue { 
        display: block;
        background-color: var(--darkblue);
        border-radius:  var(--border-radius) ;
        padding-right:  calc(3* var(--spacing));
        padding-left:  calc(3* var(--spacing));
        padding-top: calc(3*var(--spacing));
        padding-bottom: calc(3*var(--spacing));
        margin-left: calc(2* var(--spacing));
        margin-top: calc(3* var(--spacing));
        margin-bottom: calc(3* var(--spacing));
        height: 750px;

    }

    .grid-container-left-page-green { 
        display: block;
        background-color: var(--green);
        border-radius:  var(--border-radius) ;
        border-radius:  var(--border-radius) ;
        padding-right:  calc(3* var(--spacing));
        padding-left:  calc(3* var(--spacing));
        padding-top: calc(3*var(--spacing));
        padding-bottom: calc(3*var(--spacing));
        margin-left: calc(2* var(--spacing));
        margin-top: calc(3* var(--spacing));
        border-left: 2px solid var(--lightgrey);
        margin-bottom: calc(3* var(--spacing));
        height: 750px;

    }

    .grid-container-left-page-purple { 
        display: block;
        background-color: var(--purple);
        border-radius:  var(--border-radius) ;
        border-radius:  var(--border-radius) ;
        padding-right:  calc(3* var(--spacing));
        padding-left:  calc(3* var(--spacing));
        padding-top: calc(3*var(--spacing));
        padding-bottom: calc(3*var(--spacing));
        margin-left: calc(2* var(--spacing));
        margin-top: calc(3* var(--spacing));
        border-left: 2px solid var(--lightgrey);
        margin-bottom: calc(3* var(--spacing));
        height: 750px;

    }

    .grid-container-right-page-grey { 
        display: block;
        background-color: var(--grey);
        border-radius:  var(--border-radius) ;
        margin-right: calc(2* var(--spacing));
        margin-top: calc(3* var(--spacing));
        border-right: 2px solid var(--lightgrey);
        margin-bottom: calc(3* var(--spacing));
        height: 750px;
    }
    .grid-container-left-page-grey { 
        display: block;
        background-color: var(--grey);
        border-radius:  var(--border-radius) ;
        margin-left: calc(2* var(--spacing));
        margin-top: calc(3* var(--spacing));
        border-left: 2px solid var(--lightgrey);
        margin-bottom: calc(3* var(--spacing));
        height: 750px;
    }

    .card-chapter-3 { 
        display: block;
        background-color: var(--purple);
        border-radius:  var(--border-radius) ;
        padding-right:  calc(1.2* var(--spacing));
        padding-left:  calc(1* var(--spacing));
        padding-top: var(--spacing);
        padding-bottom: calc(1*var(--spacing));
        margin: calc(-1* var(--spacing));
    }

    .card-chapter-2 { 
        display: block;
        background-color: var(--green);
        border-radius:  var(--border-radius) ;
        padding-right:  calc(1.2* var(--spacing));
        padding-left:  calc(1* var(--spacing));
        padding-top: var(--spacing);
        padding-bottom: calc(1*var(--spacing));
        margin: calc(-1* var(--spacing));
    }

    .card-chapter { 
        display: block;
        background-color: var(--darkblue);
        border-radius:  var(--border-radius) ;
        padding-right:  calc(1.2* var(--spacing));
        padding-left:  calc(1* var(--spacing));
        padding-top: var(--spacing);
        padding-bottom: calc(1*var(--spacing));
        margin: calc(-1* var(--spacing))
    }

    .white-line { 
        width: 90%;
        display: inline-block;
    }
    

    h1{ 
        font-family: CabinetGrotesk-Bold;
        font-size: calc(2.25 * var(--typography-base));
        color: var(--white);
    }

    .body-text { 
        font-family: bitter;
        font-size: calc(.75 *var(--typography-base));
        color: var(--white);
        line-height: 1.5;
        margin-top: calc(1.5* var(--spacing));
        letter-spacing: .5px;
    }

    .subtitle { 
        font-family: CabinetGrotesk-Medium;
        font-size: calc(1.2 * var(--typography-base));
        font-weight: bold;
        color: var(--white);
        text-align: left;
    }

    blockquote { 
        font-family: EB Garamond;
        font-size: calc(.85 *var(--typography-base));
        color: var(--white);
        line-height: 1.5;
        letter-spacing: .5px;
        background-color: var(--charcoal);
        margin-top: calc(2* var(--spacing));
        padding: calc(1.5* var(--spacing));
        border-left: 2px solid var(--white); 
        border-top: 0px solid var(--white); 
        border-radius: 0px 10px 10px 0px;
    }

    .author-text { 
        font-family: bitter;
        font-size: calc(.6 *var(--typography-base));
        color: var(--white);
        line-height: 1.5;
        margin-top: calc(1.5* var(--spacing));
        margin-bottom: calc(1.5* var(--spacing));
        letter-spacing: .5px;
    }

    .author-heading { 
        font-family: CabinetGrotesk-Bold;
        font-size: calc(1.2 * var(--typography-base));
        color: var(--white);
        line-height: 1.2;
        margin-top: calc(2* var(--spacing));
    }

    .card { 
        display: block;
        background-color: var(--grey);
        border-radius:  var(--border-radius) ;
        padding-right:  calc(1* var(--spacing));
        padding-left:  calc(1* var(--spacing));
        padding-top: var(--spacing);
        padding-bottom: calc(1*var(--spacing));
        margin: calc(1* var(--spacing))
    }

    .chapter-divider { 
        border: 1px solid;
        color: var(--lightgrey);
        display: block;
        margin: 0 auto;
        margin-top: 20px; 
        margin-bottom: 20px; 
    }

    .writer { 
        font-family: CabinetGrotesk-Medium;
        font-size: calc(1.2 * var(--typography-base));
        color: var(--white);
        text-align: left;
        margin-bottom: calc(2* var(--spacing));
    }

    .special { 
        font-family: Cardo;
        font-size: calc(2.2* var(--typography-base));
        background-color: var(--grey);
        color: var(--white);
        padding:calc(2* var(--spacing));
        text-align: center;
        margin-top: calc(3* var(--spacing));
    }
}

/* THIS IS FOR SMALL LAPTOP SCREEN */
/* THIS IS FOR SMALL LAPTOP SCREEN */
/* THIS IS FOR SMALL LAPTOP SCREEN */
/* THIS IS FOR SMALL LAPTOP SCREEN */
/* THIS IS FOR SMALL LAPTOP SCREEN */
/* THIS IS FOR SMALL LAPTOP SCREEN */
/* THIS IS FOR SMALL LAPTOP SCREEN */

@media only screen and (min-width: 1024px) {

    html { 
        margin-left: calc(3* var(--spacing));
        margin-right: calc(3* var(--spacing));
        padding-bottom: calc(10* var(--spacing));
    }

    .writer { 
        font-size: calc(1.5 * var(--typography-base));
    }

    h1 {
        font-size: calc(3 * var(--typography-base));
        margin-top: calc(3* var(--spacing));
    }

    .subtitle { 
        font-size: calc(1.8 * var(--typography-base));
    }

    h2 { 
        font-size: calc(1.8 *var(--typography-base));
    }

    .body-text{ 
        font-size: calc(.9 *var(--typography-base));
    }

    blockquote { 
        font-size: calc(1 *var(--typography-base));
    }

    .writer-text { 
        font-size: calc(1 *var(--typography-base));
    }

    .grid-container-right-page-grey { 
        padding-left: calc(3* var(--spacing));
        height: 900px;
    }

    .grid-container-left-page-grey { 
        padding-left: calc(3* var(--spacing));
        height: 900px;
    
    }

    .grid-container-left-page-blue { 
        height: 900px;

    }

    .grid-container-left-page-green { 
        height: 900px;

    }

    .grid-container-left-page-purple { 
        height: 900px;

    }
    .special { 
        font-size: calc(2.9* var(--typography-base));
        padding:calc(2* var(--spacing));
        margin-top: calc(7* var(--spacing));
    }
    
} 

/* THIS IS FOR BIG LAPTOP SCREEN */
/* THIS IS FOR BIG LAPTOP SCREEN */
/* THIS IS FOR BIG LAPTOP SCREEN */
/* THIS IS FOR BIG LAPTOP SCREEN */
/* THIS IS FOR BIG LAPTOP SCREEN */
/* THIS IS FOR BIG LAPTOP SCREEN */
/* THIS IS FOR BIG LAPTOP SCREEN */

@media only screen and (min-width: 1325px) {

    nav{ 
        width: 50% ;
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(5* var(--spacing));
        margin-bottom: calc(3* var(--spacing));
    }

    a{ 
        font-size: calc(1.7 * var(--typography-base));
    }

    body { 
        margin-left: calc(6* var(--spacing));
        margin-right: calc(6* var(--spacing));
        padding-bottom: calc(10* var(--spacing));

    }


    .writer { 
        font-size: calc(2 * var(--typography-base));
    }

    h1 {
        font-size: calc(4 * var(--typography-base));
        margin-top: calc(3.5* var(--spacing));
    }

    .subtitle { 
        font-size: calc(2 * var(--typography-base));
    }

    h2 { 
        font-size: calc(2 *var(--typography-base));
        margin-bottom: calc(1* var(--spacing));
    }

    .body-text{ 
        font-size: calc(1 *var(--typography-base));
        line-height: 1.75;
    }

    blockquote { 
        font-size: calc(1.1 *var(--typography-base));
    }

    .writer-text { 
        font-size: calc(1 *var(--typography-base));
    }

    .grid-container-right-page-grey { 
        padding-left: calc(3* var(--spacing));
        height: 920px;
    }

    .grid-container-left-page-grey { 
        padding-left: calc(3* var(--spacing));
        height: 920px;
    
    }

    .grid-container-left-page-blue { 
        height: 920px;

    }

    .grid-container-left-page-green { 
        height: 920px;

    }

    .grid-container-left-page-purple { 
        height: 920px;

    }

    #underline{
        font-size: calc(1 *var(--typography-base));
        text-decoration: underline;
    }

    .special { 
        font-size: calc(3.4* var(--typography-base));
        padding:calc(2* var(--spacing));
        margin-top: calc(7* var(--spacing));
    }
} 


  
