@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');


@font-face {
    font-family: 'CabinetGrotesk-Thin';
    src: url('/fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Thin.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
         font-weight: 100;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Extralight';
    src: url('/fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Extralight.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Light';
    src: url('/fonts/CabinetGrotesk-Light.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Light.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Regular';
    src: url('/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Regular.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Medium';
    src: url('/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Medium.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Bold';
    src: url('/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Bold.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Extrabold';
    src: url('/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'CabinetGrotesk-Black';
    src: url('/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
         url('/fonts/CabinetGrotesk-Black.woff') format('woff'),
         url('/fonts/CabinetGrotesk-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
@mixin lhCrop($line-height) {
    &::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
  }
:root {
    background: var(--darkgrey);
    --typography-base: 16px;
    --spacing: 10px;
    --border-radius: 10px;

    --orange: #FF3D00;
    --white: #FFFFFF;
    --darkgrey: #0B0B0B;
    --grey:#171717;
    --light: #0300A9;
    --darkblue: #1400FF;
    --green: #00AA30;
    --darkgreen:#04783B;
    --purple: #8000FF;
    --darkred: #7C0004;

    --inset--top:    -0.2em;
	--inset--bottom: -0.23em;
	--inset--left:   -0.07em;
	--inset--right:  -0.06em;
}

nav { 
    font-family: bitter;
    display: flex;
    justify-content: space-around;
    font-size: var(--typography-base);
    padding: var(--spacing);
    background-color: var(--darkgrey);
    border: var(--white);
    border-style: solid;
    border-radius: var(--border-radius) ;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: calc(1* var(--spacing));
}

a { 
    color: #FFFFFF;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.card-chapter { 
    display: block;
    background-color: var(--darkblue);
    border-radius:  var(--border-radius) ;
    padding-right:  calc(3* var(--spacing));
    padding-left:  calc(3* var(--spacing));
    padding-top: var(--spacing);
    padding-bottom: calc(3*var(--spacing));
    margin: calc(1* var(--spacing))
}

h1{ 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(4.3 * var(--typography-base));
    color: var(--white);
}

.subtitle { 
    font-family: CabinetGrotesk-Medium;
    font-size: calc(1.5 * var(--typography-base));
    font-weight: bold;
    color: var(--white);
    text-align: left;
}

.white-line{
    border: 1px solid;
    color: var(--white);
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.card { 
    display: block;
    background-color: var(--grey);
    border-radius:  var(--border-radius) ;
    padding-right:  calc(3* var(--spacing));
    padding-left:  calc(3* var(--spacing));
    padding-top: var(--spacing);
    padding-bottom: calc(3*var(--spacing));
    margin: calc(1* var(--spacing))
}

h2 { 
    font-family: CabinetGrotesk-Bold;
    font-size: calc(1.5 * var(--typography-base));
    color: var(--white);
    line-height: 1.2;
    margin-top: calc(2* var(--spacing));
}

.body-text { 
    font-family: bitter;
    font-size: var(--typography-base);
    color: var(--white);
    line-height: 1.5;
    margin-top: 2rem;
    letter-spacing: .5px;
}
blockquote { 
    font-family: bitter;
    font-style: italic;
    font-size: calc(1.2* var(--typography-base));
    color: var(--white);
    margin-top: calc(2* var(--spacing));
    line-height: 1.5;
}

.author { 
    display: block;
    background-color: var(--light);
    border-radius:  var(--border-radius) ;
    padding: calc(1 * var(--spacing));
    margin-top: calc(3 * var(--spacing));
}

.author-text { 
    font-family: bitter;
    font-size: var(--typography-base);
    color: var(--white);
    line-height: 1.5;
    margin: calc(.5 * var(--spacing));
    letter-spacing: .5px;
}

strong { 
    font-weight: bold;
}

#underline { 
    text-decoration: underline;
}