@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{ 
    background-color:#101010;;
}

p{ 
    color: #ffffff;
}
.top-header { 
    font-family: Kdam Thmor Pro;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 30px;
    background-color:#101010;
    margin-top: 10px;
}

h1 { 
    font-family: DM Serif Display;
    font-size: 160px;
    color: #E1CB02;
    text-transform: uppercase;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    background-color:#101010;
}
.subtitle { 
    text-align: center;
    background-color:#101010;
    font-family: DM Serif Display;
    font-size: 40px;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav { 
    font-family: Kdam Thmor Pro;
    border: #ffffff;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
}

.hr {
   border: 3px solid rgb(255, 255, 255);
   }

h2 { 
    font-family: DM Serif Display;
    font-size: 80px;
    color: #E1CB02;
    text-transform: uppercase;
    margin-top: 100px;
    padding-left: 80px;
    text-align: left;
    background-color:#101010;
}

.numerical{ 
    display: none;
}
p { 
    font-family: roboto;
    font-weight: 300;
    padding-left: 80px;
    padding-right: 160px;;
    font-size: 24px;
    margin-top: 20px;
}
